.header{
  background-color: #d3d3d3;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div{
  margin: 0.5em 1em;
}
.header ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}